/* ========== Primary Colors ========== */
$primary-color: #FFF0ED;
$secondary-color: #5BACC3;

/* ========== Neutral Colors ========== */
$black: #393939;
$grey: #909090;
$light-grey: #F7F7F7;
$white: #FFF;